#main, #payment {
    color: white;
    font-size: 1.7rem;
}

#main{
    margin: 20px auto;
}

td{
    padding: 2px 6px;
}

body{
    background-color: #080808;
    background: rgb(16,146,214);
    background: radial-gradient(circle, rgba(16,146,214,1) 0%, rgba(4,22,63,1) 57%, rgba(2,0,36,1) 100%);
}

#myCards, #quickPay {
    height: 250px;
}

#payment{
    margin: 20px auto auto;
}

h1{
    text-align: center;
}

.smallBox , #centreElement,#myCards, #quickPay{
    background-color:#1c1c1c ;
}

.smallBox{
    height: 350px;
}

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visaCard{
    height: 50px;
    width: 100px;
}

.expenseButton {
    background: #02C1FD ;
    background-image: -webkit-linear-gradient(top, #02C1FD , #2980b9);
    background-image: -moz-linear-gradient(top, #02C1FD , #2980b9);
    background-image: -ms-linear-gradient(top, #02C1FD , #2980b9);
    background-image: -o-linear-gradient(top, #02C1FD , #2980b9);
    background-image: linear-gradient(to bottom, #02C1FD , #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
  }
  
  .expenseButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }